
.container{
  padding:  3% 5%;
}





  label {
    font-weight: bold;
  }

  

  .btn-primary:hover {
    background-color: #3e8e41;
  }

  /* Features Section */
#features{
  background-color: rgb(150, 204, 127);
  
  
  

  
}

.feature-title{
 font-size: 1.5rem;


}

.feature-box{
 padding: 4.5%;
 vertical-align: middle;
  

}
.icon{
 color: #4e9531;
 vertical-align: middle;
 height: 80%;
}
.icon:hover{
 color: #8f7c12;
}
  


h3{
  text-align: center;
  font-family: "Ubuntu";
    text-align: center;
    padding: 3%;
    background-color: #f1d951;
}

.lead{
  font-family: "Ubuntu";
}

h1{
  font-family: "Ubuntu";
}
 h2{
  font-family: "Ubuntu";
 }


 
button{
  text-align: center;
}

h4{
  font-family: "Ubuntu";
}

.download-button{
  margin: 20px 10px;
  background-color: #2faa1f;
  vertical-align: middle;
 height: 80%;
}

.fas{
  vertical-align: middle;
  height: 80%;
}
  